.tabs
    +flex-start
    flex-wrap: wrap
    gap: 4px
    border: none

    a[role=tab]
        width: 100%
        border-radius: 4px
        border: none
        color: #6E798D
        font-size: 12px
        font-weight: 400
        line-height: 1
        padding: 10px 15px
        text-align: center
        +transition

        &[aria-selected=true]
            background: #1C1F2E
            color: $clr-white

