.signal-hero
    &__video
        height: 180px
        width: 100%
        border-radius: 12px
        object-fit: cover
        margin-bottom: 10px

    &__box
        +flex-column
        gap: 10px

    &__title
        font-size: 16px
        line-height: 1.2
        color: $clr-dark

        span
            background: $clr-dark
            padding: 0px 4px
            border-radius: 4px
            background: #1C1F2E
            color: $clr-white
            font-weight: bold

    &__notify
        padding: 9px
        +radius8
        display: flex
        gap: 8px
        border: 1px dashed #D3E0ED
        margin-bottom: 10px

        svg
            flex-shrink: 0

        span
            font-size: 10px
            line-height: 1.2
            color: #6E798D


.signal-register
    padding: 17px
    +bg-white
    +def-border
    border-radius: 12px
    +flex-column
    text-align: center
    align-items: center

    &__title
        font-size: 14px
        font-weight: 500
        line-height: 1.2
        color: #232536
        margin-bottom: 8px

    &__step
        font-size: 12px
        line-height: 1
        color: #232536
        padding: 10px 16px
        background: #D8DEE9
        border-radius: 50px
        width: fit-content
        margin-bottom: 4px

    &__subtitle
        font-size: 14px
        line-height: 1.2
        margin-bottom: 5px

    &__btn
        width: fit-content
        min-width: 190px
        font-weight: bold
        margin-bottom: 4px

    &__notify
        +flex-center
        gap: 4px
        font-size: 12px
        line-height: 1.2
        color: $clr-danger

.signal-single-text
    font-size: 12px
    font-weight: bold
    line-height: 1.2
    color: $clr-dark
    text-align: center

.signal-runline
    padding: 8px 15px
    display: flex
    overflow: hidden
    background: linear-gradient(90deg,rgba(5, 150, 105, 1) 0%, rgba(37, 99, 235, 1) 100%)

    span
        flex-shrink: 0
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 1
        color: $clr-white
        font-size: 11px
        line-height: 1
        animation: 130s linear 0s infinite normal none running podcast-line



@keyframes podcast-line
    0%
        transform: translateX(0px)
    100%
        transform: translateX(-100%)

.signal
    overflow: hidden


.signal-tabs
    width: 100%
    flex-wrap: nowrap
    overflow-x: auto
    overflow-y: hidden
    padding-inline: 20px
    gap: 8px
    margin-bottom: 20px

    li
        flex-shrink: 0

    a[role=tab]
        padding: 5px 9px
        +flex-center
        gap: 4px


.signal-time
    display: grid
    grid-template-columns: 92px 1fr
    gap: 5px
    margin-bottom: 10px

    &__content
        +flex-column
        gap: 4px
        color: #6E798D
        font-size: 12px
        font-weight: 400
        line-height: 1
    
    &__btns
        +flex-center
        gap: 8px
        border-radius: 8px
        background: #F6F7FA
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)
        padding: 4px 8px

    &__btn
        padding: 6px 12px
        border-radius: 8px
        background: #FFF
        color: #6E798D
        font-size: 10px
        font-weight: 500
        line-height: 1
        flex-grow: 1
        outline: none
        border: none

        &.active
            border-radius: 8px
            background: #1C1F2E
            box-shadow: 0 2px 8px 0 rgba(28, 31, 46, 0.10)
            color: $clr-white

.signal-tab-wrapper
    position: relative
    // min-height: 300px

.signal-tab
    position: relative
    
    &__left
        position: absolute
        left: 0
        top: 0
        height: 300px
        width: 32px
        color: $clr-white
        text-align: center
        font-size: 12px
        font-weight: 600
        line-height: 1
        border-radius: 0 12px 12px 0
        background: #4CAF50
        display: flex
        align-items: center
        justify-content: center

        &-content
            transform: rotate(-90deg)
            white-space: nowrap
            display: inline-block
            color: $clr-white
            text-align: center
            font-size: 12px
            font-weight: 600
            line-height: 1

    &__right
        position: absolute
        right: 0
        top: 0
        height: 300px
        width: 32px
        color: $clr-white
        text-align: center
        font-size: 12px
        font-weight: 600
        line-height: 1
        border-radius: 12px 0 0 12px
        background: #FFC107
        display: flex
        align-items: center
        justify-content: center

        &-content
            transform: rotate(-90deg)
            white-space: nowrap
            display: inline-block
            color: $clr-dark
            text-align: center
            font-size: 9px
            font-weight: 600
            line-height: 1.2


.signal-state-container
    max-width: calc(100% - 80px)
    padding-inline: 0


.signal-state
    padding: 16px 8px 17px
    border-radius: 12px
    background: $clr-white
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.10), 0 1px 2px -1px rgba(0, 0, 0, 0.10)
    height: 100%
    +flex-column
    gap: 10px

    &__box
        border-radius: 4px
        background: #EEF2F9
        +flex-column
        align-items: center
        padding: 72px 10px
        gap: 9px

    &__title
        color: #1C1F2E
        text-align: center
        font-size: 12px
        font-weight: 700
        line-height: 1

        span
            color: $clr-primary

    &__btn
        +flex-center
        gap: 7px
        font-size: 14px
        padding: 10px

.signal-state-info
    +flex-column
    align-items: center
    margin-top: 10px
    gap: 8px
    text-align: center

    &__title
        color: #43A047
        font-size: 18px
        font-weight: 700
        line-height: 1

    &__desc
        color: #232536
        font-size: 12px
        font-weight: 400
        line-height: 1.2

    

.signal-state-2
    +flex-column
    gap: 1px
    background: #FFFFFF01
    padding: 0
    overflow: hidden


.signal-state-2-result
    display: grid
    grid-template-columns: 37px 1fr
    height: 150px

    &__left
        height: 100%
        width: 100%
        +flex-center
        background: #D8DEE9

        span
            color: #1C1F2E
            font-size: 14px
            font-weight: 400
            line-height: 1
            transform: rotate(-90deg)
            display: flex

    &__loading
        background: $clr-white
        +flex-column
        align-items: center
        justify-content: center
        gap: 9px
        padding: 8px

        svg.spin
            width: 18px
            height: 18px
            display: flex
            animation: 1s linear 0s infinite normal none running spin

        &_1
            display: flex
            align-items: center
            justify-content: center
            gap: 8px

        &_2
            color: #6E798D
            text-align: center
            font-size: 12px
            font-weight: 400
            line-height: 1


.signal-state-2-btm
    display: grid
    grid-template-columns: 37px 1fr
    height: 150px

    &__left
        height: 100%
        width: 100%
        +flex-center
        background: #D8DEE9

        span
            color: #1C1F2E
            font-size: 14px
            font-weight: 400
            line-height: 1
            transform: rotate(-90deg)
            display: flex

    &__loading
        background: $clr-white
        display: flex
        align-items: center
        justify-content: center
        gap: 8px

    &__col
        +flex-column
        justify-content: center
        gap: 6px
        padding: 8px
        background: $clr-white

    &__currency
        display: flex
        align-items: center
        gap: 10px
        
        span
            color: #1C1F2E
            font-size: 12px
            line-height: 1

    &__time
        display: flex
        align-items: center
        gap: 10px

        span
            color: #1C1F2E
            font-size: 12px
            line-height: 1

    
    &__connect
        display: flex
        align-items: center
        gap: 10px

        span
            color: $clr-white
            font-size: 14px
            line-height: 1
            border-radius: 4px
            background: #1C1F2E
            padding: 4px 12px


    &__price
        display: flex
        align-items: center
        gap: 10px
        
        span
            color: #1C1F2E
            font-size: 12px
            line-height: 1

        &_wave
            position: relative
            width: 24px
            height: 24px
            border-radius: 50%
            +flex-center
            overflow: hidden
            background: rgba(247, 14, 41, 0.5)

            &::before
                content: ''
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                width: 10px
                height: 10px
                border-radius: 50%
                background: rgba(247, 14, 41, 1)

            &::after
                content: ''
                width: 10px
                height: 10px
                border-radius: 50%
                background: rgba(247, 14, 41, 1)
                opacity: 1
                transform: scale(1)
                animation: ping 2s cubic-bezier(0,0,.2,1) infinite


@keyframes ping
    70%, 100%
        opacity: 0
        transform: scale(3)
        



.signal-state-2-result-show
    padding: 5px 8px
    border-radius: 4px
    background: #282D41
    +flex-column
    gap: 3px
    width: 100%

    &_1
        display: flex
        align-items: center
        gap: 4px

    &__curr
        color: #A3ADC6
        font-size: 12px
        font-weight: 400
        line-height: 1

        b
            color: #32AB41
            font-weight: 400
            line-height: 1

    &__time
        margin-left: auto
        color: #FFF
        font-size: 12px
        font-weight: 400
        line-height: 1

    &_2
        display: flex
        align-items: center
        gap: 4px

        span
            color: $clr-white
            font-size: 12px
            font-weight: 400
            line-height: 1

            &:nth-child(3)
                margin-left: auto
                color: #32AB41

            &:nth-child(4)
                margin-left: auto
                color: #32AB41

    &__btn
        font-size: 11px
        font-weight: 700
        +flex-center
        gap: 4px


.signal-rocket
    +flex-center
    gap: 20px
    padding: 12px 16px
    border-radius: 12px
    background: #232536
    margin-inline: -20px
    margin-top: 8px

    &__icon
        flex-shrink: 0
        display: flex
        width: 36px
        height: 36px

    &__desc
        color: $clr-white
        font-size: 12px
        font-weight: 600
        line-height: 1.2
